
//
// VARIABLES
//

// Colors
$teal: #028482;
$teal_hover: #03aba8;
$blue: #4A6AB3;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$lightBorder: #ddd;
$white: #fff;

// Font stacks
$open_sans: "Source Sans Pro", sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lora: "Lora", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}