<!DOCTYPE html>
<html>
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{{ page.url }}/{% endif %}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <script src="/javascript/application.js" type="text/javascript" async></script>

    <meta content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}" property="og:title">
    {% if page.image %}
      <meta content="http://www.kevinsweet.com/images/{{ page.image }}" property="og:image">
    {% endif %}
    <meta content="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{{ page.url }}/{% endif %}" property="og:url">
    <meta content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}" property="og:site_name">
    <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">

  </head>

  <body>
    <div class="page-wrap">
      <div class="wrapper-masthead {% if page.image %}image-post{% endif %}">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><div class="site-avatar-img"></div></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">Front End Developer</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Blog</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>
        </div>
      </div>

    {{ content }}
  </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
