---
layout: default
---
{% if page.image %}
  <div class="main-image-clear">
    <div class="post-main-image" style="background-image: url(/images/{{ page.image }});"></div>
    <div class="image-h1-wrapper-outer">
      <div class="image-h1-wrapper">
        <div class="container post-title-container" data-top="transform: translate3d(0, 0px, 0); opacity: 1;" data-top-bottom="transform: translate3d(0, 150px, 0); opacity: 0;" data-anchor-target=".main-image-clear">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!--<div class="main-wrap">-->
<div role="main" class="container main">
  {% include share-buttons.html %}

  <article class="post">
    {% if page.image == nil %}
      <h1>{{ page.title }}</h1>
    {% endif %}

    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Penned on {{ page.date | date: "%B %e, %Y" }} by <a href="https://plus.google.com/117958627560206408639?rel=author">Kevin Sweet</a>
    </div>

    {% include disqus.html disqus_identifier=page.disqus_identifier %}
  </article>
</div>
<!--</div>-->

{% assign selected_post = nil %}
{% assign pick_next_post = false %}
{% assign do_not_pick_another_post = false %}

{% for post in site.posts %}
  {% for category in post.categories %}
    {% if page.categories contains category %}
      {% unless do_not_pick_another_post %}
        {% if page.id == post.id %} {% comment %} related posts can't be the same as the current page {% endcomment %}
          {% assign pick_next_post = true %}
        {% elsif pick_next_post == true %} {% comment %} the last iteration was the current page, so select the next one as the related post and then basically exit the loop {% endcomment %}
          {% assign selected_post = post %}
          {% assign do_not_pick_another_post = true %}
        {% else %} {% comment %} keep replacing the related post until we make it to the current page {% endcomment %}
          {% assign selected_post = post %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if selected_post %}
  <a href="{{ selected_post.url }}">
    <div class="related-post-section" style="background-image: url(/images/{{ selected_post.image }});">
      <div class="related-post-wrapper">
        <div class="related-post-content">
          <div class="container">
            <h3 class="h1">{{ selected_post.title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </a>
{% endif %}

<script type="text/javascript">
  // due to turbolinks, scrollr needs to be refreshed to update itself.
  if (typeof skrollr !== 'undefined') {
    s.refresh();
  }

  if (typeof initialize_post !== 'undefined') {
    initialize_post();
  }
</script>